#displayer {
    width: 100%;
    height: auto!important;
}

.sticky-footer {
    width: 100%!important;
}

.badge {
    position: absolute;
    margin-left: -0.6rem;
    top: 1rem;
    font-weight: 400;
    font-size: .5rem;
}

