{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.jqplot.min.css') }}" />
{% endblock %}

{% block body %}
    <br/>
    <div id="chart"></div>
    <br/>
    <div id="chartWaterTank"></div>
    <br/>
    <div id="chartHeartBeat"></div>
{% endblock %}


{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>

{% endblock %}